<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<a href="www.mega64.com" alt='Mega64' target='_blank'>Click here to visit the best site ever</a>
<img src='http://pointclearmedia.com/mediasamples/waterfall.mov' alt='waterfall'>